.container{
    // border: 2px solid black;
    height: 40vh;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    overflow: scroll;
    // max-width: 90%;
    width: 100%;
    margin-bottom: 20px;

}

::-webkit-scrollbar {
    display: none;
}




