.card{
    height: 100%;
    min-width: 100px;
    // border: 1px solid black;
    margin-right: 15px;
    margin-left: 5px;
}

.card:last-child{
    background-color: red;
    margin-right: 50px;
}

.cardImage{
    height: 50%;

    img{
        height: 100%;
        width: 100%;
    }
}


.cardContent{
    margin-top: 5px;

    p{
        margin-bottom: 7px;
    }
}

.cardContent :first-child{
    font-weight: bold;
}
