.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    padding: 5px;
    min-width: 100%;
    background: linear-gradient(318deg, #f8f9fa, #e9ecef);
    background-size: 200% 100%;
    position: fixed;
    top: 0;
    z-index: 5;

    @media (min-width: 768px) {
        justify-content: space-between;
    }

}


.burger{
    height: 30px;
    position: absolute;
    top: 11px;
    left: 10px;
}

.burgerShow{
    opacity: 1;
    transform: rotate(-180deg);
    transition-delay: 0.3s;
    transition-duration: 1s;
    transition-property: opacity, transform;
    z-index: 2;
}

.burgerHidden {
    z-index: 1;
    opacity: 0;
    transform: rotate(180deg);
    transition-delay: 0.1s;
    transition-duration: 1s;
    transition-property: opacity, transform;
  }

  .xHidden{
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 14px;
    left: 17px;
    transform: rotate(-180deg);
    transition-delay: 0.1s;
    transition-duration: 1s;
    transition-property: opacity, transform;
  }

  .xOpen{
    opacity: 1;
    z-index: 2;
    transform: rotate(180deg);
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-property: opacity, transform;
  }

  .circle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 50px;
    width: 50px;
    background: linear-gradient(318deg,#adb5bd, #f8f9fa );
    background-size: 400% 100%;
    border-radius: 50%;
    z-index: 3;
    overflow: hidden;
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    transition-property: height, width, border-radius;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    @media (min-width: 768px) {
        display: none;
    }
      
    
  }
  
  .open {
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    transition-property: height, width, border-radius;
    height: 100vh;
    width: 80vw;
    border-radius: 0;
    padding: 0;
    margin: 0;
    animation: BackgroundColorChange 1s ease 1;
    animation-fill-mode: forwards;
  }

  .burgerLinks{

      margin-top: 50px;
      margin-left: 10px;
      width: 100%;

      @for $i from 1 through 15 {
        ul :nth-child(#{$i}n) {
            animation-duration: #{($i/10)}s;
        }
    }
      li {
          padding: 10px;
          width: 100%;
      }

      .moveUp{
          animation: MoveUp 0.7s ease 1;
          animation-fill-mode: forwards;
      }
  }

  .backdrop{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0,0,0,0.5);
      z-index: 5;
      animation: fadeIn 1s ease 1;
  }
  

.brand{
    font-size: 16px;
    font-weight: 700;
    margin-right: 40px;

    @media (min-width: 768px) {
        margin-right: 0;
        margin-left: 20px;
        font-size: large;
    }

    @media (min-width: 1024px) {
        font-size: x-large;
        margin-left: 40px;
    }
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    @media (min-width: 768px) {
      margin-left: 0;
      margin-right: 20px;
      width: 100px;

      div{
        margin-right: 20px;
      }
  }
}

.search{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.login {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.cart{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes BackgroundColorChange {
    0% {
      background-position: 9% 0%;
    }
    25% {
      background-position: 70% 80%;
    }
    50% {
      background-position: 82% 90%;
    }
    75% {
      background-position: 92% 100%;
    }
    100% {
      background: linear-gradient(310deg,#adb5bd, #f8f9fa );
      background-size: 100% 100%;
    }
  }

  @keyframes MoveUp {
    0% {
      transform: translateY(400px);
    }
    50% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
    
  